/* This file will hold all of the custom css */
* {
    padding: 0;
    margin: 0;
}

body {
    /* background: rgb(190,190,190); */
    background: linear-gradient(0deg, rgba(190,190,190,1) 0%, rgba(239,243,247,1) 39%);
    background-size: cover;
    background-repeat: no-repeat;
}

/* navlink editting */

#nomLogo {
    font-family: 'Noto Serif', serif;
    text-align: center;
    padding: 10%;
}

#recipes {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top: 1.25rem;
    padding-left: 3rem;
}

#restaurants {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top: 1.25rem;
}

/* recipes layout */

h4 {
    font-family: 'Raleway', sans-serif;
    margin: 0 0 !important;
}

#keyword{
    font-family: 'Raleway', sans-serif;
    font-style: italic; 
}

#foundResults {
    font-family: 'Raleway', sans-serif;
}

.card {
    font-family: 'Raleway', sans-serif;
    max-width: 75%;
    margin: 10% auto; 
}

.card-image {
    max-height: 100px;
    overflow: hidden;
}


#what-nom {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    line-height: 5rem;
    /*
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Arvo', serif;*/
    text-align: center;
}

/* footer */
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(213, 205, 219, 0.7);
   color: rgba(122, 122, 122, 1);
   text-align: center; 
}

.card-content{
    height: 110.4px;
}