/* This file will hold all of the custom css */
* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../images/mockup_bg01.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* navlink editting */

.header {
    display:none;
    background-color: rgba(213, 205, 219, 0.7);
}

.nomLogo {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    line-height: 7rem;
    text-align: center;
    color: azure
}

.container {
    height: 100vh;
    margin-bottom: -40px;
    /* position: relative; */
}

.push {
    height: 50px;
  }

#recipes {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top: 1.25rem;
}

#restaurants {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top: 1.25rem;
}

/* splash message */

#what-nom {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    line-height: 5rem;
    /*
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Arvo', serif;*/
    text-align: center;
}

/* footer */
.footer {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(213, 205, 219, 1);
    color: rgba(122, 122, 122, 1);
    text-align: center; 
    min-height: 40px;
    max-height: 40px;
}
