/************** overall html *********************/
* {
    padding: 0;
    margin: 0;
}

h3 {
    margin: 0 0 1.2rem 0 !important;
}

h5 {
    margin: 0;
    margin-bottom: 5%;
}

/****************** navlink **********************/

#nomLogo {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 10%;
    margin-left: 5%;
    margin-top: 0.52rem;
}

#getRecipes > h5 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top: 1.25rem;
}

#getRestaurants > h5 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top: 1.25rem;
    margin-right: 50%;
}

#indexBg {
    max-height: 100%;
    background-image: url(../images/bg01.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/****************** recipes list layout **********************/

#recipeBg {
    background: linear-gradient(0deg, rgba(190,190,190,1) 0%, rgba(239,243,247,1) 39%);
    background-size: cover;
    background-repeat: no-repeat;
}

#keyword{
    font-family: 'Raleway', sans-serif;
    font-style: italic; 
}

#foundResults {
    font-family: 'Raleway', sans-serif;
}

.card {
    font-family: 'Raleway', sans-serif;
    max-width: 75%;
    margin: 10% auto; 
}

.card-image {
    max-height: 100px;
    overflow: hidden;
}
/****************** individual recipe layout **********************/
#recipeLayoutBg {
    max-height: 100%;
    background-image: url(../images/bg01.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#ingredientCard {
    max-width: 100%;
}

#cardHeader {
    margin: 0;
    margin-bottom: 5%;
}

#recipeCard {
    max-width: 100%;
    margin: 5% auto;
    margin-bottom: 30%
}

#recipeSpot {
    max-height: 300px;
    overflow: hidden;
}

.recipeContent {
    margin-top: 5%;
    margin-bottom: 5%;
}

#what-nom {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    line-height: 5rem;
    text-align: center;
}

/***************** restaurant page *****************/

#restaurantBg {
    background-image: url(../images/restaurantbg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#restaurantBlurb {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
}

#nomLogoRest {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 10%;
    margin-left: 5%;
    margin-top: 0.52rem;
    color: white;
}

/****************** footer **********************/
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(213, 205, 219);
   color: rgb(122, 122, 122);
   text-align: center; 
}
